body {
  background-color: var(--main-background-grey);
  font-family: Roboto, RobotoDraft, Arial, sans-serif;
  overflow-x: hidden;
  color: #202124;

}


.app {
  display: grid;
  grid-template-columns: 16rem 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

SideBar {
  grid-area: 1 / 1 / 2 / 2;
}

/* EmailList {
  grid-area: 1 / 2 / 2 / 6;
} */
